@mixin main-text($font-size, $font, $font-weight, $color) { 
font-size: $font-size;
font-family: $font;
font-weight: $font-weight;
color: $color;
}

@mixin icons($width, $height, $fill) {
    width: $width;
    height: $height;
    // flex-shrink: $flex-shrink;
    fill: $fill;
}

